#about{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    display: inline;
}
#resume{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0%;
    display: inline;
}

#summary{
    color:#DE3163;
        font-family: "Marcellus", serif;
        font-size: large;
        font-weight: 400;
        font-style: normal;    
}
.title{
    color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: 900;
    font-style: normal;
    font-size: x-large;
    
}
#header{
    margin-top: 0;
    display: block;
    font-family: "Libre Baskerville", serif;
    font-weight: 900;
    font-style: normal;
    font-size: x-large;
}
#Centerfont{
    margin-top: 0%;

}
.heading{
    background-color: #BDDDE4;
    display: block;

}

img{ 
    height: 150;
    width: 150;
}