#about{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
#resume{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#summary{
    color:#DE3163;
        font-family: "Marcellus", serif;
        font-size: large;
        font-weight: 400;
        font-style: normal;    
}
.title{
    color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: 900;
    font-style: normal;
    font-size: x-large;
}
#header{
    margin-top: 0;
}
#Centerfont{
    margin-top: 0%;
}
.heading{
    background-color: #BDDDE4;
    
}

img{
    height: 250;
    width: 250;
    margin:0%;
    padding: 0%;
    border: 0%;
}